.catalog__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  margin-bottom: clamp(1.25rem, 0.589rem + 3.3vw, 3.563rem);
}

.catalog__tab__button {
  color: #292929;
  font-size: 15px;
  font-weight: 500;
  padding: 11px;
}

.catalog__tab__button--active {
  background-color: #363636;
  color: #fff;
  border-radius: 10px;
}
