.main {
  background-color: #e8e8e8;
  padding: 267px 0 175px;
  padding-top: clamp(4.688rem, 1.259rem + 17.14vw, 16.688rem);

  /* position: relative; */
}

.main__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/*----*/

.title1--main {
  color: #000;
  font-size: clamp(1.5rem, 1.071rem + 2.14vw, 3rem);
  font-weight: 700;
  line-height: 55px;
}

.main__text--subtitle {
  max-width: 482px;
}

.main__text--subtitle p {
  color: rgba(29, 28, 28, 0.7);
  font-size: clamp(0.813rem, 0.723rem + 0.45vw, 1.125rem);
  font-weight: 400;
  line-height: 30px;
}

/*----*/

.main__armchair {
  position: absolute;
  right: -1%;
  bottom: -96%;
}

/*----*/

.armchair__info--variants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.main__armchair__info {
  position: absolute;
  right: 0%;
  bottom: -10%;

  height: 321px;
  width: 365px;

  padding: 38px 34px;

  background-color: #d0d0d0;
  border-radius: 10px;
}

.armchair__info--title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 6px;
}

.armchair__info--subtitle {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 19px;
}

.info--variants__colors {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.color--white {
  background-color: white;
}

.color--red {
  background-color: red;
}

.color--gold {
  background-color: #dfbb76;
}

.color--grey {
  background-color: #646464;
}

/*-----*/

.main__lamp {
  position: absolute;
  right: 0%;
  top: -80%;
}

/*-----*/

.main__hint {
  display: flex;
  align-items: center;
  column-gap: 10px;

  padding: 13px;

  width: 280px;
  border-radius: 20px;
  background: linear-gradient(
    91deg,
    rgba(255, 255, 255, 0.75) 0.45%,
    rgba(255, 255, 255, 0) 144.28%
  );
  backdrop-filter: blur(2.5px);
}

.hint__icon {
  flex-shrink: 1;
}

.main__hint__material {
  position: absolute;
  left: 21%;
  bottom: 37%;
}

.main__hint__stand {
  position: absolute;
  right: 5%;
  bottom: 11%;
}

.hint__add__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  background-color: #ffb82e;
  border-radius: 50%;

  transition: transform 0.2s linear;
}

.hint__add__button:hover {
  transform: scale(1.2);
}

/* @media only screen and (max-width: 1056px) {
  .main {
    padding-bottom: 358px;
  }

  .main__text {
    text-align: center;
  }

  .main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__armchair {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 200px;
    bottom: -168%;
    z-index: 1;
  }

  .main__armchair__info {
    left: 50%;
    top: 152%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .main__hint__material {
    left: 23%;
    bottom: 34%;
  }

  .main__hint__stand {
    right: 27%;
    bottom: 12%;
  }

  .main__lamp {
    right: 12%;
  }
} */

@media only screen and (max-width: 1056px) {
  .main {
    padding-bottom: 80px;
  }

  .main__text {
    text-align: center;
  }

  .main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__armchair {
    display: none;
  }

  .main__armchair__info {
    display: none;
  }

  .main__lamp {
    display: none;
  }

  .title1--main {
    line-height: normal;
  }

  .main__text--subtitle {
    color: rgba(29, 28, 28, 0.7);
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
  }
}
