.card:hover {
    cursor: pointer;
}

.card__photo {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fafafa;
  padding: clamp(1rem, 0.821rem + 0.89vw, 1.625rem) 0;

  border-radius: 10px;
  height: clamp(9.875rem, 7.643rem + 11.16vw, 17.688rem);
}

.card__info {
  margin-top: 17px;
}

.card__info__name {
  color: #000;
  font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
  font-weight: 700;

  margin-bottom: 7px;
}

.card__info__color {
  color: rgba(0, 0, 0, 0.5);
  font-size: clamp(0.75rem, 0.714rem + 0.18vw, 0.875rem);
  font-weight: 400;

  margin-bottom: 20px;
}

.card__info__price {
  display: flex;
  column-gap: 13px;
  align-items: end;
}

.card__info__price p {
  color: #000;
  font-size: clamp(0.938rem, 0.848rem + 0.45vw, 1.25rem);
  font-weight: 400;
}

.card__info__price span {
  color: rgba(0, 0, 0, 0.25);
  font-size: clamp(0.75rem, 0.714rem + 0.18vw, 0.875rem);
  font-weight: 300;
  text-decoration:line-through;
}
