.header {
  background-color: #9dc82c;
  padding: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem) 0;
}

.container--header {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__grid__nav--mobile ul {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.header__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;
  align-items: center;
}

.header__grid__catalog {
  justify-self: center;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 5px;

  padding: 10px;
}

.catalogImg {
  stroke: white;
}

.catalogImg--active {
  stroke: #9dc82c;
}

.button--catalog {
  border: 1px solid #fff;
  border-radius: 10px;

  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.button--catalog--active {
  background-color: #fff;
  color: #9dc82c;
}

.header__grid__bag {
  justify-self: end;
}

.button--bag {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  font-weight: 500;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 15px;
  justify-content: space-between;
}

.nav__list__link {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  font-weight: 500;

  transition: color 0.2s linear;
}

.nav__list__link:hover {
  color: #fff;
}

.header__grid__logotype__img {
  width: clamp(4.875rem, 4.054rem + 4.11vw, 7.75rem);
}

.header__grid__burger {
  display: none;
}


@media only screen and (max-width: 1100px) {
  .header__grid {
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  }
  .header__grid__nav {
    display: none;
  }
  .header__grid__logotype {
    justify-self: center;
    order: 1;
  }
  .header__grid__catalog {
    justify-self: left;
    order: 0;
  }
  .header__grid__bag {
    order: 3;
  }
  .header__grid__burger {
    justify-self: right;
    order: 2;

    display: block;
  }
  .button--bag span {
    display: none;
  }
  .catalogImg {
    display: none;
  }
  .button--catalog {
    padding: 6px 9px;
  }
}
